/* Resetar as configurações da página */
* {
    margin: 0;
    padding: 0;
    font-size: 100%; /* Para usar unidades relativas */
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box; /* Quando usado um padding, a dimensão do elemento não é alterada. */
    font-family: 'Lato', sans-serif;

    --fundo: #191722;
    --verde: #1fb139;
    --laranja: #e4e015;
    --verde-escuro: #060a07;
}

body {
    background-color: var(--fundo);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Container */

.container {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
}

/* BG colors */

.bg-gradient {
    background: linear-gradient(to right, var(--verde), var(--laranja));
}

.bg-black {
    background-color: var(--verde-escuro);
}

.bg-white {
    background-color: #fff;
}

/* helpers */

.radius {
    border-radius: 7px;
}

/* Cabeçalho */

.logo {
    width: 56px;
    height: 56px;
    float: left;
    background: url("../img/logo-mobile.png") center center/56px no-repeat;
    font-size: 0; /* Para não aparecer o texto do h1. */
}

.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 56px;
    cursor: pointer;
}

/* Menu */

.menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
}

.btn-close {
    font-size: 1.5em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 2% 5% 0 0;
}

.menu ul {
    width: 100%;
    float: left;
    text-align: center;
}

.menu li {
    padding: 1.5%;
}

.menu li a {
    font-size: 2em;
    color: #fff;
    padding: 1.5% 3%;
}

.menu li a:hover {
    border: 1px solid var(--laranja);
}

/* Banner */

.banner {
    background: url(../img/bg.png) fixed;
    background-size: cover;
}

.title {
    width: 100%;
}

.title h2 {
    font-size: 2.5em;
    color: #fff;
    font-weight: 700;
}

.title h3 {
    font-size: 1.5em;
    color: #fff;
}

.buttons {
    width: 100%;
    margin-top: 2%;
}

.buttons i {
    float: right;
}

.btn {
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
}

.btn-cadastrar {
    color: var(--verde-escuro);
}

.btn-contato {
    color: #fff;    
    margin-top: 2%;
}

/* Serviços */

.servico {
    width: 100%;
    text-align: justify;
    margin-bottom: 3%;
}

.servico img {
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.inner {
    padding: 7%;
}

.inner a {
    font-size: 1.5em;
    color: var(--verde-escuro);
    font-weight: 700;
}

.inner h4 {
    font-size: 1.2em;
    color: var(--verde-escuro);
    margin-top: 2%;
}

.inner p {
    margin-top: 6%;
    color: var(--verde-escuro);
    line-height: 1.5em;
}

/* Newsletter */

.newsletter h2 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}

.newsletter h3 {
    color: #fff;
}

.newsletter form {
    margin-top: 2%;
}

.newsletter input {
    width: 100%;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5%;
}

.newsletter button {
    width: 100%;
    color: var(--verde-escuro);
    padding: 5%;
    cursor: pointer;
    margin-top: 2%;
}

/* Rodapé */

.social-icons a {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 3%;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    color: rgb(255, 255, 255)
}

.copyright {
    margin-top: 2%;
    color: rgba(255, 255, 255, 0.7);
}

/* Cadastro */

.cadastro form input {
    margin-top: 2%;
}

/* página de contatos */

#bg-contato {
    background: url(../img/bg_contato.jpg) fixed;
    background-size: cover;
}

#bg-services {
    background: url(../img/bg-services.jpg) fixed;
    background-size: cover;
}

#bg-blog {
    background: url(../img/bg-blog.jpeg) fixed;
    background-size: cover;
}

/* Mobile first */

/* Smal devices - smartphones */

@media screen and (min-width: 480px) {
    .logo {
        width: 214px;
        background: url("../img/logo.png") center center/214px no-repeat;
    }
    .btn {
        font-size: 2em;
    }
}

/* Smal devices - tablets */

@media screen and (min-width: 768px) {
    .servico {
        width: 49%;
        float: left;
        margin-right: 2%;
    }
    .servico:nth-child(2){
        margin-right: 0;
    }
    .newsletter h2 {
        font-size: 2em;
    }
    .newsletter h3 {
        font-size: 1.5em;
    }
    .newsletter input {
        width: 70%;
        padding: 2%;
        float: left;
        margin-right: 1%;
    }
    .newsletter button {
        width: 29%;
        padding: 2%;
        float: right;
        margin-top: 0;
    }
    .cadastro input {
        width: 80%;
        float: none;
        padding: 2%;
        
    }
    .cadastro button {
        width: 80%;
        float: none;
        padding: 2%;
        margin-top: 2%;
    }
}

/* Medium devices - tablets & desktops */

@media screen and (min-width: 960px) {
    .title {
        width: 70%;
        float: left;
        text-align: left;
    }
    .title h2 {
        font-size: 3em;
    }
    .title h3 {
        font-size: 2em;
    }
    .buttons {
        width: 30%;
        float: right;
        margin-top: 0;
    }
    .servico {
        width: 32%;
    }
    .servico:nth-child(2){
        margin-right: 2%;
    }
    .servico:nth-child(3){
        margin-right: 0;
    }
    .newsletter input {
        width: 60%;
        float: none;
    }
    .newsletter button {
        width: 20%;
        float: none;
    }
    .cadastro input {
        width: 80%;
        float: none;
        padding: 2%;
        margin-right: 0;
    }
    .cadastro button {
        width: 80%;
        float: none;
        padding: 2%;
        margin-top: 2%;
    }
}

/* Large devices - wide screens */

@media screen and (min-width: 1280px) {
    .btn-menu {
        display: none;
    }
    .btn-close {
        display: none;
    }
    .menu {
        width: auto;
        height: 56px;
        line-height: 56px;
        float: right;
        background-color: rgba(0, 0, 0, 0);
        display: block !important;
        position: static;
    }
    .menu li {
        padding: 0;
        float: left;
    }
    .menu li a {
        color: var(--verde);
        font-size: 1em;
        padding: 15px;
    }
    .menu li a:hover {
        border: none;
        color: var(--laranja);
    }
    .cadastro input {
        width: 80%;
        float: none;
        padding: 2%;
        margin-right: 0;
    }
    .cadastro button {
        width: 80%;
        float: none;
        padding: 2%;
        margin-top: 2%;
    }
    #menu-services li a {
        font-weight: bold;
        color: var(--verde-escuro);
    }
    #menu-services li a:hover {
        color: var(--verde);
    }
    #menu-blog li a {
        font-weight: bold;
        color: #fff;
    }
    #menu-blog li a:hover {
        font-weight: bold;
        color: var(--laranja);
    }
}